<!DOCTYPE html>
<html lang="ru">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="/style.css">
        <title>Error</title>
    </head>
    <body>
        <nav class="navbar navbar-default">  
        <div class="container-fluid">
           <div class="navbar-header">
           <a href="#" class="navbar-left">
               </a>
            </div>
               
            <div>
            <ul class="nav navbar-nav">
                <li><a href="#">Мой профиль</a></li>
                <li><a href="#">Объявления</a></li>
                </ul>
            </div>
            </div>
            </nav>
        <h1>Ошибка!</h1>
    </body>
</html>