<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/style.css">

    <script
            src="https://code.jquery.com/jquery-3.6.3.js"
            integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
            crossorigin="anonymous">
    </script>

    <title>Repit</title>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-left">
                <img src="/logo.png"  class="pull-left" width=75px/>
            </a>
        </div>

        <div>
            <ul class="nav navbar-nav">
                <li><a href="studProfile">Мой профиль</a></li>
                <li><a href="#">Объявления</a></li>
                <li><a href="/logout" method="post">Выйти</a></li>
            </ul>
        </div>
    </div>
</nav>

<h1>Объявления</h1>
<form action="/StudentAds" >
<tr th:each="item : ${advertisementList}" >
    <div class="container" th:id="conID + ${item[7]}">
        <div class="row align-items-center flex-row-reverse">
            <div class="col-lg-6">
                <div class="about-text go-to">
                    <h3 class="dark-color"><span th:text="${item[0]}"></span></h3>
                    <h6 class="theme-color lead">г. <span th:text="${item[3]}"></span></h6>
                    <h6 class="theme-color lead">Предмет: <span th:text="${item[1]}"></span></h6>
                </div>
            </div>
            <div class="pull-right">
                <button class="btn btn-success" th:attr="data-id=${item[7]}"> Записаться</button>
            </div>
        </div>
        <div class="counter">
            <div class="row">
                <div class="col-6 col-lg-3">
                    <div class="count-data text-center">
                        <h6 class="count h2" data-to="500" data-speed="500"><span th:text="${item[2]}"></span></h6>
                        <p class="m-0px font-w-600">Телефон</p>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="count-data text-center">
                        <h6 class="count h2" data-to="150" data-speed="150"><span th:text="${item[5]}"></span></h6>
                        <p class="m-0px font-w-600">Место работы</p>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="count-data text-center">
                        <h6 class="count h2" data-to="850" data-speed="850"><span th:text="${item[4]}"></span></h6>
                        <p class="m-0px font-w-600">Стаж</p>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="count-data text-center">
                        <h6 class="count h2" data-to="190" data-speed="190"><span th:text="${item[6]}"> </span> ₽</h6>
                        <p class="m-0px font-w-600">Стоимость</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</tr>
</form>
</body>

<script th:inline="javascript">


    $(function (){
        $('.btn').click(function(e) {
            e.preventDefault();
            const itemId = $(this).data('id');
            const conID = document.getElementById("conID" + itemId.toString());
            $.ajax({
                url: '/StudentAds',
                type: 'POST',
                data: {
                    'id': itemId,
                },
                success: function(data) {
                    $(conID).remove();
                }
            });
        });
    });


</script>
</html>

